/**
 *
 * Cascading columns styling.
 *
 */
.columns {
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

/* Display the lists as columns in blocks. */
ul.column {
  display: inline-block;

  vertical-align: top;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-right: 1px solid #eee;
  white-space: normal;
  visibility: visible;
  transition: 400ms;
}

/* Setting a list container class to "collapsed" will hide the column. */
ul.column.collapse {
  opacity: 0;
  visibility: hidden;
}

/* Put some space between the column's list entries. */
ul.column > li {
  list-style: none;
  padding: 0.5em;
    min-width: 10em;
}

ul.column > li.parent:after {
  content: "›";
  font-weight: bold;
}

/* Highlight while hovering, without allowing selected items to override. */
ul.column > li:hover {
  color: black;
  background-color: #eee;
}

/* Ensure all selected nodes in the hierarchy are easily seen. */
.column > .selected,
.column > .selected:hover {
  background-color: #08C;
  color: white;
}

/**
 *
 * Breadcrumb styling.
 *
 */
.breadcrumb {
  border-bottom: 1px solid #eee;
}

.breadcrumb > *:after {
  content: " › ";
}

.breadcrumb > *:last-child:after {
  content: "";
}
